<table>
	<tr>
		<td>
			Пополнения на сумму:
		</td>
		<td>
			<b><%= all_payments %></b>
		</td>
	</tr>

	<tr>
		<td>
			Всего потрачено на сумму:
		</td>
		<td>
			<b><%= vendor_payments %></b>
		</td>
	</tr>

	<tr>
		<td>
	 		Всего зарегистрировано доменов:
		</td>
		<td>
			<b><%= domains_count %></b>
		</td>
	</tr>

	<tr>
		<td>
			Всего создано ящиков:
		</td>
		<td>
			<b><%= emails_count %></b>
		</td>
	</tr>

	<tr>
		<td>
			Потрачено на домены:
		</td>
		<td>
			<b><%= vendor_domains_payments %></b>
		</td>
	</tr>

	<tr>
		<td>
			Потрачено на ящики:
		</td>
		<td>
			<b><%= vendor_emails_payments %></b>
		</td>
	</tr>
</table>